.row
  #index-about.col.s12.m8.l4
    %h4.black-text
      About
    %p.black-text Usually skating or coding somewhere in London.

    .divider

    %ul
      %li
        %a{href: "/scraps"} Scraps
      %li
        %a{href: "/reads"} Read
      %li
        %a{href: "/skate"} Skate
      %li
        %a{href: "/code"} Code
      %li
        %a{href: "/misc"} Misc.
