#tags {
  li {
    display: inline-block;
    margin-top: 0.4rem;
  }
  li > span {
    color: black;
    cursor: pointer;
    border-radius: 2px;
    margin: 0.2rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border: 1px solid #ED6C5C;
  }

  li > span:hover {
    background-color: black;
    color: #ED6C5C;
  }

  li > span.active {
    background-color: black;
    color: #ED6C5C;
  }
}
