#notes-nav {
  margin-top: 11.5rem;

  #nav-inner {
    list-style-type: none;
    font-weight: 300;
  }
}

#notes-content {
  padding-left: 50px;

  #title h1 {
    font-size: 3rem;
    letter-spacing: -0.1rem;
    margin: 20px 0 50px 0;

    p {
      font-size: 0.85rem;
      margin: 20px;
    }
  }

  #notes-years ul li {
    display: inline
  }

  #notes {
    margin-top: -10px;
    list-style-type: none;

    h2 {
      margin-bottom: 0;
      font-size: 1.5rem;
    }

    ul {
      margin-bottom: 0;
    }
  }
}
