#note {
  span.subhead {
    line-height: 1.1rem;
    font-size: 12px;
    font-family: "Soehne-buch";
    color: #cdcdcd;
  }

  p {
    img {
      max-width: 100%;
    }
  }

  p:first-of-type {
    margin-top: 0.8rem;
  }

  .dropcap::first-letter {
    float: left;
    font-size: 3.0rem;
    line-height: 0.4em;
    border: 2px solid #ED6C5C;
    border-radius: 2px;
    padding: .7rem .5rem;
    margin: 2px 8px 0 0;
  }

  @media (max-width: 767.98px) {
    .dropcap::first-letter {
      line-height: 0.5em;
    }
  }

}

#meta-content, #meta-content-mob {
  margin: 0;
  margin-right: 40%;
  font-size: 12px;
  text-align: right;

  a {
    color: rgba(0, 0, 0, 0.87);

  }

  p {
    line-height: 1.1rem;
    span {
      font-family: "Soehne-halbfett";
    }

    font-family: "Soehne-buch";
  }

  p:first-of-type {
    margin-top: 0
  }
}
