#note {
  span.subhead {
    font-size: 12px;
    font-family: "Soehne-buch";
    color: #000;
  }

  p {
    img {
      max-width: 100%;
    }
  }

  p:first-of-type {
    margin-top: 0.4rem;
  }

}
