.content {
  .posts {
    a {
      border-bottom: 0px;
    }

    p {
      max-width: 80%;
      margin: 0;
      font-size: 0.8em;
    }

    .title {
      font-family: 'Soehne-halbfett';
      font-size: 1em;

      .date {
        color: #cdcdcd;
        margin-left: 3px;
        font-family: 'Soehne-kraftig';
        font-size: 0.6em;
        font-style: italic;
      }
    }
  }
}
