@media screen {
  /* --- Reset Styles --- */
  * {

  }


  html, body {
    height: 100%;
    width: 100%;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  }

  body {
    font-size: 13px;
    line-height: 1.7em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    background-color: transparent;

    li > a {
      color: #0822e1;
      padding-left: 0px;
      font-size: 13px;
      text-decoration: underline;
      font-weight: 400;
    }

    li > a:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }

  blockquote {
    margin: 10px 0;
    padding-left: 1.5em;
    border-left: transparent;
    font-size: 11px;
  }

  blockquote:first-of-type {
  padding-top: 10px;
}

  .page-footer {
    padding: 0px;
    min-width: 300px;
    background-color: transparent;
  }
}

.content {
  min-width: 300px;

  h6 {
    font-weight: 700;
  }

  strong {
    font-weight: 700;
  }

  a {
    color: #0822e1;
  }

  p {
    color:  #333;
  }
}

.no-margin-bottom {
  margin-bottom: 0px;
}

#about {
  padding-top: 50px;
}
