@media screen {
  /* --- Reset Styles --- */
  * {

  }

  html, body {
    height: 100%;
    width: 100%;
    font-family: "Calluna", "Helvetica Neue", Helvetica;
  }

  .container {
    width: 100%;
  }

  body {
    font-size: 16px;
    line-height: 1.7em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    background-color: transparent;

    ul {
      display: inline-block;
    }

    li > a {
      color: #000;
      padding-left: 0px;
      font-size: 13px;
      font-family: "Soehne-halbfett";
      letter-spacing: 0.5px;
    }

    li > a:hover {
      text-decoration: none;
      background-color: transparent;
      border-bottom: none;
    }
  }

  blockquote {
    margin: 10px 0;
    padding-left: 1.5em;
    border-left: transparent;
    font-size: 13px;
  }

  blockquote:first-of-type {
  padding-top: 10px;
}

  .page-footer {
    padding: 0px;
    min-width: 300px;
    background-color: transparent;
  }
}

#logo-container {
  max-height: 8.5vh;
}

#logo {
  fill: #ED6C5C;
}

.content {
  min-width: 300px;

  h2 {
    font-family: "Soehne-halbfett";
    border-bottom: 10px solid #000;
    padding-bottom: 20px;
    margin-bottom: 0.67em;
  }

  strong {
    font-weight: 700;
  }

  a {
    color: #222;
    border-bottom: 1px solid #222;
  }

  a:hover {
    border-bottom: none;
  }

  p {
    color:  #222222;
    line-height: 165%;
    margin-bottom: 1.5rem;
  }

  .divider {
    width: 80%;
    margin: 30px auto;
  }
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.margin-top {
  margin-top: 50px;
}
