@media screen {
  /* --- Reset Styles --- */
  * {

  }

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    font-size: 13px;
    line-height: 1.7em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    background-color: transparent;

    li > a {
      color: #0822e1;
      padding-left: 0px;
      font-size: 13px;
      text-decoration: underline;
      font-weight: 400;
    }

    li > a:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }

  #footer-nav {
    display: inline-block;
  }

  .page-footer {
    padding: 0px;
    background-color: transparent;
  }
}

.no-margin-bottom {
  margin-bottom: 0px;
}
