%footer.page-footer
  .row
    .col.s12.m8.offset-m2
      %nav.z-depth-0.center
        %ul
          %li
            %a{href: "https://github.com/jkingharman"} Github
          %li
            %a{href: "https://www.linkedin.com/in/jasperkingharman/"} LinkedIn
          %li
            - if request.path == "/"
              %a{href: "/about"} About
            - else
              %a{href: "/"} Home
