%footer.page-footer
  .row
    .col.s8.offset-s2
      %nav.z-depth-0.center
        %ul
          %li
            %a{href: "/notes"} Github
          %li
            %a{href: "/reads"} Linkedin
          %li
            %a{href: "/skate"} About
