%footer.page-footer
  .row
    .col.s8.offset-s2
      %nav.z-depth-0.center
        %ul
          %li
            %a{href: "https://github.com/jkingharman"} Github
          %li
            %a{href: "https://www.linkedin.com/in/jasperkingharman/"} LinkedIn
          %li
            %a{href: "/about"} About
