#side-nav-col.z-depth-0.sidenav.sidenav-fixed.hide-on-med-and-down
  %ul#inner-nav.side-nav
    %li
      %a{href: "/notes"} Notes
    %li
      %a{href: "/read"} Read
    %li
      %a{href: "/skate"} Skate
    %li
      %a{href: "/code"} Code
    %li
      %a{href: "/misc"} Misc.
