%footer.page-footer
  .row
    .col.s12.m8.offset-m2
      %nav.z-depth-0.center
        %ul
          %li
            %a{href: "https://github.com/jkingharman"} github
          %li
            - if request.path == "/"
              %a{href: "/about"} about
            - else
              %a{href: "/"} home
