%footer.page-footer.hide-on-large-only
  .container
    %nav.z-depth-0.center
      .nav-wrapper
        #footer-nav
          %ul
            %li
              %a{href: "/scraps"} Notes
            %li
              %a{href: "/reads"} Read
            %li
              %a{href: "/skate"} Skate
            %li
              %a{href: "/code"} Code
            %li
              %a{href: "/misc"} Misc.
