.row.no-margin-bottom
  #about.col.s8.offset-s2
    %h6.black-text
      About

    %p
      Live in London. Usually found skating or coding. Like software, decision-making and some parts of economics.

    %p
      Email:
      %a{href: "mailto: j.kingharman@googlemail.com"}j.kingharman@googlemail.com

    .divider
