.row.no-margin-bottom
  #about.content.col.s12.m8.offset-m2
    %h6.black-text
      About
    %p
      Live in London. Usually found skating or coding. Like software, decision-making and some parts of economics.
    %p
      Email:
      %a{href: "mailto: j.kingharman@googlemail.com"}j.kingharman@googlemail.com

    .divider
