.row
  #index.col.s8.offset-s2
    %h6.black-text
      jkh
    %p.black-text skater, developer

    .divider

    #notes
      %ul
        - @notes.each do |note|
          %li
            %span #{note.date}
            %a{href: ""} #{note.title}

    .divider
