.row.no-margin-bottom
  #index.content.col.s12.m8.offset-m2
    %h6.black-text
      jkh
    %div
      %p skater, developer

    .divider
    #notes
      %ul
        - asc_order(@notes).each do |note|
          - unless note.slug == "code_sample"
            %li
              %span #{note.date}
              %a{href: "notes/#{note.slug}"} #{note.title}

    .divider
