
%html
  %head
    / Let browser know website is optimized for mobile
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    %title= @title ? @title : "jkh.com"
    %meta{name: "description", content: "personal site"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    / Import materialize font
    %link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css?family=Cardo", rel: "stylesheet"}
    %link{href: "/assets/app.css", rel: "stylesheet", type: "text/css"}
    %script{src:"/assets/app.js", type: "text/javascript"}

    %body
      %header
      %main
        .container
          = yield
          = haml :_nav_footer
