.row
  #reads-nav.col.s1
    #read-inner

  #reads-content.col.s8
    #fruit_container
    #title.col.s12
      %h1.center Reads
      %p.center

    #reads
      %ul
        - @years.each do |year|
          - @reads.select {|r| r.created_at.year == year }.each_with_index do |r, i|

            - if i.zero?
              #note-year
                %h5 #{r.created_at.year}
            %li
              #{r.title} by #{r.author}
              - r.stars.times do
                %i.material-icons.tiny star

              - unless r.excerpt.blank?
                %br
                %span #{r.excerpt}
