.row
  #skate-nav.col.s1
    #nav-inner

  #skate-content.col.s8
    #title.col.s12
      %h1.center Skate
      %p.center Skating.

    #skate
      %ul
        - @skate.each do |sk8|
          %li
            - if sk8.type == "video"
              %iframe{allow: "autoplay; encrypted-media", allowfullscreen: "", frameborder: "0", height: sk8.height, src: sk8.url, width: sk8.width}
            - else
              %img{src:"#{sk8.url}", width: sk8.width, height: sk8.height }
